# === Global Ignored Files ===
node_modules/
.env
.DS_Store
*.log
logs/

# === Client ===

client/.git

client/node_modules/
client/.env
client/build/

# === Server Auth Service ===
server/auth_service/node_modules
server/auth_service/.env

# === Server User Service ===
server/user_service/node_modules
server/user_service/.env

# === IDE & System ===
.vscode/
.idea/
*.swp
Thumbs.db
