# === Global ===
node_modules/
.env
.env.local
.env.*.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Logs ===
logs
*.log
debug.log

# === OS files ===
Thumbs.db
*.swp

# === Build ===
dist/
build/

# === Auth Service ===
auth-service/node_modules/
auth-service/.env
auth-service/logs/
auth-service/coverage/

# === User Profile Service ===
user-profile-service/node_modules/
user-profile-service/.env
user-profile-service/logs/
user-profile-service/coverage/

# === React Client ===
client/node_modules/
client/.env
client/build/


# === IDE files ===
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
